	body {
		overflow-x: hidden;
		box-sizing: border-box;
	}
	p { line-height: 2em; }
/*
code, pre {
	overflow-x: auto;
	margin: 0.1em;
	font-size: 0.8em;
}*/
code {
	font-size: 0.9em;
}
.post {
	top: 0px;
	position: absolute;
	left: 0px;
	padding: 2em;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	height: 100vh;
	min-width: 100%;
	max-width: 100%;
}

.sidebar {
	-ms-transition: left 0.5s ease;
	-webkit-transition: left 0.5s ease;
	-moz-transition: left 0.5s ease;
	-o-transition: left 0.5s ease;
	transition: left 0.5s ease;

	position: absolute;
	width: 100%;
	min-width: 100%;
	z-index: 1;
	background-color: #1d1919;
	top: 0px;
	left: -100vw;

	height: 100vh;
	transition: all 1s ease;
	will-change: transform;
}
.sidebar {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.sidebar.show {
	-ms-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
}
.posts {
	text-align: center;
}
.phone-menu-nav {
	top: 10px;
	right: 20px;
	width: 40px;
	z-index: 2;
	position: fixed;
	display: block;
	background-color: #1d1919;
}
.phone-menu-nav p {
	font-size: 40px;
	margin: 0px;
	height: 40px;
	line-height: 40px;
}
