
@font-face {
  font-family: "Inconsolata";
  src: url(../font/Inconsolata-Regular.ttf) format("truetype");
}
h1 { font-family: "Inconsolata", sans-serif; }

* {
  font-family: helvetica;
  box-sizing: border-box;
}
code, code span {
  font-family: "Inconsolata", sans-serif;
}
/*
code:not(.hljs) {
  background: #EEE;
  border-radius: 0.3em;
  padding: 0.2em;
  padding: 0;
}*/
a { color: #faaaff;}      /* unvisited link */
a:visited { color: #b376a6; }  /* visited link */
a:active {color:black;}  /* selected link */

.tiny {
  font-size: 0.8em;
  margin-top: 0.2em;
}
.posts li {
  margin: 0.5em;
  list-style:none
}
ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  
}

.hidden {
  opacity: 0;
}

/*http://www.maxdesign.com.au/articles/center/ */

  body {
    text-align: center;
    color: #f2b5f9;
    background-color: #231f1f;
  }
  .bio img
  {
    margin-bottom:1em;
    margin-left: auto;
    margin-right: auto;
    width: 10vw;
    max-width:150px;
    text-align: left;
    border-radius: 100%;
  }
  .posts,.post{
    text-align: left;
  }
.post h1{
  margin-bottom: 2em;
}
.posts {
  margin-top: 2em;
  background-color: #1d1919;
  padding: 0.5em;
  min-height: 100px;
  width: 100%;
}
.bio {
  position: relative;
  left: 10%;
  width: 80%;
  top: 10%;
  padding: 1em;
}
.phone-menu-nav {
  display: none;
  user-select: none
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
