* {
  font-family: helvetica;
  box-sizing: border-box;

}
code:not(.hljs) {
    background: #333;
    border-radius: 0.3em;
    padding: 0.2em;
    color: #66d9ef;
}
a {color:black;}      /* unvisited link */
a:visited {color:black;}  /* visited link */
a:hover {color:blue;}  /* mouse over link */
a:active {color:black;}  /* selected link */

.tiny {
  font-size: 0.8em;
  margin-top: 0.2em;
}
li {
  margin: 0.5em;
  list-style:none
}
ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.comment textarea{
  width: 100%;
  line-height: 1em;
  height: 6em;
}

.hidden {
  opacity: 0;
}

.commenter {
  margin-top: 1em;
}
.comment p {
  float: left;
  line-height: 2em;
  padding:0;
  margin:0;
}
.comment input {
  margin-left: 1em;
  float:left;
  line-height: 2em;
  padding:0;
}

.sidebar{
  width: 30%;
  float:left;
  padding: 1em;
  position: fixed;
}
/*http://www.maxdesign.com.au/articles/center/ */

  body {
    text-align: center;
  }
  .bio img
  {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width:150px;
    text-align: left;
    border-radius: 100%;
  }
  .posts,.post,.bio p{
    text-align: left;
  }

.post {
  width: 70%;
  position: absolute;
  left: 30%;
  padding: 2em;
}
.posts {
  overflow-y : scroll;
  height: 50vh;
}