---
import '../../styles/theme.css'
import Layout from '../../layouts/main.astro'
import { getCollection } from "astro:content";
import { render, getEntry } from "astro:content";
import Nav from '../../components/Nav.astro';
import PostList from '../../components/PostList.astro';

const entry = await getEntry('posts', Astro.params.post)

const { Content } = await render(entry)

export async function getStaticPaths() {
	const allPosts = (await getCollection('posts', x => !x.data.archived))
	return allPosts.map( x => x.slug ).map( x => ({ params: { post: x }}) );
}

---
<Layout title={entry.data.title}>
	<style is:global>
		h1, h2, h3, h4, h5, h6 {
			margin: 0em;
		}
		.post {
			margin-bottom: 4em;
			h1, h2 {
				font-weight: 400;
				text-align: center;
				color: var(--link-color);
			}
			h1 {
				margin-bottom: 2em;
			}
			h2, h3, h4, h5, h6 {
				margin: 1em 0em;
			}
			
			blockquote {
				margin: 1em;
			}
	
			p {
				margin: 1em 0em;
				letter-spacing: 0.4px;
				line-height: 1.7em;
				font-family: sans-serif;
				color: hsl(var(--hue), 100%, 93%);
			}
	
			pre.astro-code {
				padding: 1em;
				  border-radius: 0.25em;
	
				white-space: pre-wrap;
				word-wrap: break-word;
			}
	
			:not(pre) code {
				border-radius: 0.25em;
				background-color: #585858;
				padding: 0.1em 0.2em;
				color: white;
			}
	
			.mermaid {
				opacity: 0;
				transition: opacity 1s;
			}
	
			.mermaid[data-processed] {
				opacity: 1;
			}
	
			
			a, a:visited {
				color: var(--link-color);
			}
	
		}
	</style>
	<Nav />
	<div class="post">
		<h1>{entry.data.title}</h1>
		<Content />
	</div>
	<script is:inline type="module">
		await import('https://esm.sh/mermaid@11.3.0')
	</script>
	<PostList skip={entry.slug} />
</Layout>