---
import '../../styles/theme.css'
import Layout from '../../layouts/main.astro'
import { getCollection } from "astro:content";
import { render, getEntry } from "astro:content";
import Nav from '../../components/Nav.astro';
import PostList from '../../components/PostList.astro';
import Thanks from '../../components/thanks.md';

const entry = await getEntry('posts', Astro.params.post)

const { Content } = await render(entry)

export async function getStaticPaths() {
	const allPosts = (await getCollection('posts', x => !x.data.archived))
	return allPosts.map( x => x.slug ).map( x => ({ params: { post: x }}) );
}

---
<Layout title={entry.data.title}>
	<style is:global>
		h1, h2, h3, h4, h5, h6 {
			margin: 0em;
		}
		.post {
			h1, h2 {
				font-weight: 400;
				text-align: center;
				color: var(--link-color);
			}

			header {
				margin-bottom: 2em;
				display: grid;
				grid-template-rows: max-content max-content max-content;
				grid-template-columns: minmax(0em, 40em);
				justify-content: center;
				align-items: center;
				gap: 0.5em;
				h1 {
				}
				.postdate {
					justify-self: center;
				}
				.tags {
					justify-self: center;
					display: flex;
					list-style: none;
					padding: 0em;
					margin: 0em;
					gap: 0.5em 0.5em;
					flex-wrap: wrap;
					align-items: center;
					transition: opacity 1s;

					&:hover li:not(li:hover) {
						opacity: 0.2;
					}
					
					li {
						border: solid 3px currentColor;
						padding: 0.5em;
						border-radius: 0.5em;
						font-size: 0.9em;
						opacity: 0.7;
						transition: transform 0.1s, opacity 0.5s;
					}

					li:hover {
						backface-visibility: hidden;
						transform: scale(1.1);
						opacity: 1;
					}

				}
			}
			
			h2, h3, h4, h5, h6 {
				margin: 1em 0em;
			}
			
			blockquote {
				margin: 1em;
			}
	
			>p {
				margin: 1em 0em;
				letter-spacing: 0.4px;
				line-height: 1.7em;
				font-family: sans-serif;
				color: hsl(var(--hue), 100%, 95%);
			}
	
			pre.astro-code {
				padding: 1em;
				border-radius: 0.25em;
	
				white-space: pre-wrap;
				word-wrap: break-word;
			}
	
			:not(pre) code {
				border-radius: 0.25em;
				background-color: #585858;
				padding: 0.1em 0.2em;
				color: white;
			}
	
			.mermaid {
				opacity: 0;
				transition: opacity 1s;
			}
	
			.mermaid[data-processed] {
				opacity: 1;
			}
	
			
			a, a:visited {
				color: var(--link-color);
			}

			blockquote {
				border-left: solid currentColor 0.1em;
				padding-left: 1em;
			}
	
		}
	</style>
	<Nav />
	<div class="post">
		<header>
			<h1>{entry.data.title}</h1>
			<h4 class="postdate">Posted on {new Intl.DateTimeFormat('en-US', { dateStyle: 'long' }).format(entry.data.created)}</h4>
			<ul class="tags">
				{entry.data.tags?.map( x => <a href={"/tags/" + x}><li>{x}</li></a>)}
			</ul>
		</header>
		<Content />
		<hr/>
		<Thanks />
	</div>
	<script is:inline type="module">
		await import('https://esm.sh/mermaid@11.3.0')
	</script>
	<PostList predicate={x => x.slug != entry.slug} />
</Layout>