---
---

<style>
    div {
        display: grid;
        justify-items: center;
        font-size: 1.2em;
        gap: 1em
    }
    img {
        border-radius: 100%;
        max-width: 6em;
    }
    p {
        max-width: 16.5em;
        text-align: center;
    }
</style>
<div>
    <img src="/assets/img/bio.jpeg">
    <p>Interested in any type of design and the individual componentry of calcified ideas.</p>
</div>