---
---

<nav>
  <style>
    nav {
      display: grid;
      gap: 1em;
      justify-content: center;
      text-align: center;
      font-size: 1.2em;

      ul {
        list-style: none;
        display: flex;
        gap: 1em;
        justify-content: center;
        padding: 0em;
        margin: 0em;
      }
      li {

        a {
          color: black;
        }
      }
    }
  </style>
  <h4>James Forbes</h4>
  <ul>
    <li><a href="/">Explore</a></li>
    <li><a href="https://jmsfbs.com">Listen</a></li>
    <li><a href="https://canyon.itch.io/">Play</a></li>
    <li><a href="https://github.com/JAForbes/">Parse</a></li>
    <li><a href="https://x.com/jmsfbs">Follow</a></li>
  </ul>
</nav>
